extends layout

block content
  h1= title
  h3 Welcome to #{title}
  if !!jwtCracker.token
    p TOKEN: #{jwtCracker.token}
  if !!global.alphabet === true
    p ALPHABET: #{alphabet}
  if !!global.minLength === true
    p MIN_LENGTH: #{minLength}
  if !!global.maxLength === true
    p MAX_LENGTH: #{maxLength}
  p CURRENT TIME: #{currentTime}
  if !!jwtCracker.currentGuess === true
    p CURRENT GUESS: #{jwtCracker.currentGuess}
  if !!jwtCracker.startTime === true
    p START TIME: #{jwtCracker.startTime}
  if !!jwtCracker.attempts === true
    p #{jwtCracker.is_secret_found === true ? "TOTAL" : ""} ATTEMPTS: #{jwtCracker.attempts}
  if !!jwtCracker.private_key === true
    p SECRET KEY: #{jwtCracker.private_key}
  if jwtCracker.is_secret_found === false
    p SECRET KEY NOT FOUND
  if !!jwtCracker.endTime === true
    p END TIME: #{jwtCracker.endTime}